/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #4a0819;
    background-color: #f5a3b9;
    border-color: #f391ab;
}

.alert-primary hr {
    border-top-color: #f07a99;
}

.alert-primary .alert-link {
    color: #1c0309;
}

.badge-primary {
    color: #fff;
    background-color: #b91440;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #fff;
    background-color: #8a0f30;
}

.bg-primary {
    background-color: #b91440 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #8a0f30 !important;
}

.border-primary {
    border-color: #b91440 !important;
}

.btn-primary {
    color: #fff;
    background-color: #b91440;
    border-color: #b91440;
}

.btn-primary:hover {
    color: #fff;
    background-color: #981034;
    border-color: #8a0f30;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(185, 20, 64, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #b91440;
    border-color: #b91440;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #8a0f30;
    border-color: #7d0d2b;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(185, 20, 64, 0.5);
}

.btn-outline-primary {
    color: #b91440;
    background-color: transparent;
    border-color: #b91440;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #b91440;
    border-color: #b91440;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(185, 20, 64, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #b91440;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #b91440;
    border-color: #b91440;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(185, 20, 64, 0.5);
}

.list-group-item-primary {
    color: #4a0819;
    background-color: #f391ab;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #4a0819;
    background-color: #f07a99;
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #4a0819;
    border-color: #4a0819;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #f391ab;
}

.table-hover .table-primary:hover {
    background-color: #f07a99;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #f07a99;
}

.text-primary {
    color: #b91440 !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #8a0f30 !important;
}

/* ボーダーの太さ */
.border-2{
    border-width:2px !important;
}
.border-3{
    border-width:3px !important;
}
.border-4{
    border-width:4px !important;
}
.border-5{
    border-width:5px !important;
}
